<%= flash[:notice] %>

<p><strong>Title:</strong></p>
<span><%= @book.title %></span>

<p><strong>Body:</strong></p>
<span><%= @book.body %></span>


<%= link_to "Edit", edit_book_path(@book.id) %> 
<%= link_to "Back", books_path %>